/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* primary/main color */
  --clr-primary-5: #7ac8ff;
  /* darkest grey - used for headings */
  --clr-grey-1: #102a42;
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
}
/*
=============== 
Global Styles
===============
*/

body {
  font-family: "Open Sans", sans-serif;
  background: #f1f5f8;
  color: #102a42;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: "Roboto", sans-serif;
}
h2 {
  font-size: 2.5rem;
}
p {
  display: inline;
}

/*
=============== 
Container
===============
*/
main {
  min-height: calc(100vh - 3rem);
  display: grid;
  place-items: center;
}
.container {
  text-align: center;
}
.container h2 {
  background: #222;
  color: #fff;
  padding: 1rem;
  border-radius: var(--radius);
  margin-bottom: 2.25rem;
}
.color {
  color: var(--clr-primary-5);
}
.btn-hero {
  background: #fff;
  color: #222;
  letter-spacing: var(--spacing);
  font-weight: 700;
  border-radius: var(--radius);
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
}
.copy-btn {
  margin: 2px 15px;
  font-size: 2rem;
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
}
#input-color {
  padding: 0.75rem 1.25rem;
  font-size: 1.5rem;
}
